In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
dataframe = pd.read_csv('/home/dieudonne/SPECIALIZATION/Data Analytics/world-population.csv')
dataframe.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,6.31e+01,1.03e+00,5.20e-01
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,9.89e+01,9.96e-01,4.00e-02
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,1.89e+01,1.02e+00,5.60e-01
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,2.22e+02,9.83e-01,0.00e+00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,1.71e+02,1.01e+00,0.00e+00

### How to manipulate floats or numbers after the comma. You can for example want to have something like x.0 or x.00 or x.000. 
#### You can tell Pandas to select only columns that are already "numbers" (integers or other floats) and convert them all to float64. This completely avoids your text columns.

In [10]:
numeric_cols = dataframe.select_dtypes(include=['number']).columns
dataframe[numeric_cols] = dataframe[numeric_cols].astype(float)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
dataframe

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36.00,AFG,Afghanistan,Kabul,Asia,41128771.00,38972230.00,33753499.00,28189672.00,19542982.00,10694796.00,12486631.00,10752971.00,652230.00,63.06,1.03,0.52
1,138.00,ALB,Albania,Tirana,Europe,2842321.00,2866849.00,2882481.00,2913399.00,3182021.00,3295066.00,2941651.00,2324731.00,28748.00,98.87,1.00,0.04
2,34.00,DZA,Algeria,Algiers,Africa,44903225.00,43451666.00,39543154.00,35856344.00,30774621.00,25518074.00,18739378.00,13795915.00,2381741.00,18.85,1.02,0.56
3,213.00,ASM,American Samoa,Pago Pago,Oceania,44273.00,46189.00,51368.00,54849.00,58230.00,47818.00,32886.00,27075.00,199.00,222.48,0.98,0.00
4,203.00,AND,Andorra,Andorra la Vella,Europe,79824.00,77700.00,71746.00,71519.00,66097.00,53569.00,35611.00,19860.00,468.00,170.56,1.01,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226.00,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.00,11655.00,12182.00,13142.00,14723.00,13454.00,11315.00,9377.00,142.00,81.49,1.00,0.00
230,172.00,ESH,Western Sahara,El Aaiún,Africa,575986.00,556048.00,491824.00,413296.00,270375.00,178529.00,116775.00,76371.00,266000.00,2.17,1.02,0.01
231,46.00,YEM,Yemen,Sanaa,Asia,33696614.00,32284046.00,28516545.00,24743946.00,18628700.00,13375121.00,9204938.00,6843607.00,527968.00,63.82,1.02,0.42
232,63.00,ZMB,Zambia,Lusaka,Africa,20017675.00,18927715.00,16248230.00,13792086.00,9891136.00,7686401.00,5720438.00,4281671.00,752612.00,26.60,1.03,0.25
233,74.00,ZWE,Zimbabwe,Harare,Africa,16320537.00,15669666.00,14154937.00,12839771.00,11834676.00,10113893.00,7049926.00,5202918.00,390757.00,41.77,1.02,0.20

### When you want to get the high level information about the data

In [11]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    float64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    float64
 6   2020 Population              234 non-null    float64
 7   2015 Population              234 non-null    float64
 8   2010 Population              234 non-null    float64
 9   2000 Population              234 non-null    float64
 10  1990 Population              234 non-null    float64
 11  1980 Population              234 non-null    float64
 12  1970 Population              234 non-null    float64
 13  Area (km²)                   234 non-null    float64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(13), object(4)
memory usage: 31.2+ KB

### Whe you want to get the high overview of the dataset, you can use .describe

In [13]:
dataframe.describe()

,Rank,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
count,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00
mean,117.50,34074414.71,33501070.95,31729956.24,29845235.03,26269468.82,22710220.79,18984616.97,15786908.81,581449.38,452.13,1.01,0.43
std,67.69,136766424.80,135589876.92,130404992.75,124218487.63,111698206.72,97832173.35,81785186.08,67795091.64,1761840.86,2066.12,0.01,1.71
min,1.00,510.00,520.00,564.00,596.00,651.00,700.00,733.00,752.00,1.00,0.03,0.91,0.00
25%,59.25,419738.50,415284.50,404676.00,393149.00,327242.00,264115.75,229614.25,155997.00,2650.00,38.42,1.00,0.01
50%,117.50,5559944.50,5493074.50,5307400.00,4942770.50,4292907.00,3825409.50,3141145.50,2604830.00,81199.50,95.35,1.01,0.07
75%,175.75,22476504.75,21447979.50,19730853.75,19159567.50,15762301.00,11869231.00,9826053.75,8817329.00,430425.75,238.93,1.02,0.28
max,234.00,1425887337.00,1424929781.00,1393715448.00,1348191368.00,1264099069.00,1153704252.00,982372466.00,822534450.00,17098242.00,23172.27,1.07,17.88